@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}
@keyframes shine {
  0% {
    background-position: -200% center;
  }
  50% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes endlessSlideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes endlessSlideRight {
  100% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}

.animate-endlessSlideLeft {
  animation: endlessSlideLeft linear infinite;
}

.animate-endlessSlideRight {
  animation: endlessSlideRight linear infinite;
}
@keyframes endlessSlideRight {
  0% {
    transform: translateX(-150%);
  }
  100% {
    /* Adjust this value so that it exactly equals the width of one copy of the slider */
    transform: translateX(50%);
  }
}
.animate-endlessSlideRight {
  animation: endlessSlideRight linear infinite;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;
}
